body {
	margin: 0;
	padding-top: 50px;
}

#home {
	background: url("main2.png") no-repeat;
	opacity: 0.9;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

#home img {
	width: 400px;
}

#vcenter {
	position: relative;
	top: 25%;
}

nav {
	padding-top: 15px;
/*	background-color: rgb(66, 105, 101);*/
	background-color: rgb(68, 96, 95);
	z-index: 1000;
	opacity: 1.0;
}

nav a {
	color: white;
	text-transform: uppercase;
	font-size: 13px;
	padding: 0 15px 0 15px;
	letter-spacing: 1px;
}

nav a:hover, nav a:focus, nav a:active {
	color: rgb(163, 201, 200);
	text-decoration: none;
}


.btn {
	margin-top: 10px;
	padding: 10px 10px 10px 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 13px;
	border: 0 none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}

.btn-primary {
	background: rgb(68, 96, 95);
	color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	background: rgb(101, 138, 136);
}

#main {
	z-index: -1000;
	display: block;
}

#contact img{
	width: 210px;
	margin-left: 40px;
}

#contact p {
	width: 250px;
}


#contact p, #contact img{
	display: inline-block;
	vertical-align: top;
}

.wrapper {
	border: 1px solid black;
	padding: 10px 20px 20px 20px;
}

.wrapper:not(.addresses) {
	margin: 60px 0 10px 0;
}

#contact, #location {
	margin-bottom: 60px;
}

/*.wrapper:not(#contact), #contact div {
	border: 1px solid black;
	padding: 10px 20px 20px 20px;
}

.wrapper:not(#contact) {
	margin: 50px 0 55px 0;
}*/

.wrapper, table, .row {
	z-index: -1000;
}

h3 {
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

td {
	font-size: 13px;
	vertical-align: top;
	padding: 5px 5px 5px 5px;
}

/*#location div {
	width: 300px;
	display: inline-block;
	vertical-align: top;
}*/

.addresses {
	display: inline-block;
	vertical-align: top;
	height: 350px;
	margin: 0 15px 0 15px;

}

footer {
	color: white;
	background-color: rgb(68, 96, 95);
	width: 100%;
	padding-top: 10px;
}

#subscript {
	font-size: 10px;
}

footer p {
	width: 800px;
}


/*button {
	text-transform: uppercase;
	padding: 10px 10px 10px 10px;
	background-color: rgb(68, 96, 95);
	color: white;
	letter-spacing: 1px;
	font-weight: 350;
	font-size: 13px;
}
*/




/*#home img{  made logo perfectly centered 
	width: 400px;
	max-height: 90%;
	max-width: 90%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}*/
