<html>
<head>
	<title>Dignity Memorial</title>
	<meta charset="UTF-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="dignitystyle.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript">

	</script>
</head>
<body>
	<center>
		<nav class="navbar navbar-fixed-top">
			<div class="container">
				<a class="nav-item nav-link" href="#about">Về Chúng Tôi</a>
			    <a class="nav-item nav-link" href="#method">Đặt Kế Hoạch Trước</a>
			    <a class="nav-item nav-link" href="#contact">Liên Lạc Người cố vấn</a>
			    <a class="nav-item nav-link" href="#location">địa điểm dịch vụ</a>
			  </div>
		</nav>
		<div id="home">
			<div id="vcenter">
				<img class="vcenter" src="DignityMemorialLogocopy.png">
				<br>
				<button type="button" class="btn btn-primary">Sách <!-- Hướng Dẫn -->Đặt Kế Hoạch miễn phí</button>
			</div>
		</div>

<!-- 		<div id="main" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">	 -->
		<div id="main">
			<div class="row" id="about">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
				</div>
				<div class="wrapper col-lg-6 col-md-6 col-sm-6 col-xs-8">
					<h3>Về Chúng Tôi</h3>
					<p> 
						Dignity Memorial là công ty dịch vụ tang lễ, hỏa táng và nghĩa trang lớn nhất ở Bắc Mỹ. Thương hiệu của chúng tôi chắc chắn mang đến phẩm chất, giá trị, sự phục vụ đầy quan tâm làm khách hàng hoàn toàn hài lòng. Chúng tôi, không có trách nhiệm nào lớn hơn là việc tôn trọng và gìn giữ lịch sử một đời người. Với nhiều địa điểm tại Portland, chúng tôi có nhiều năm kinh nghiệm phục vụ cộng đồng Trung Hoa/Việt Nam tại địa phương.
					</p>
				</div>
			</div>

			<div class="row" id="method">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
				</div>
				<div class="wrapper col-lg-6 col-md-6 col-sm-6 col-xs-8">
					<h3>Đặt Kế Hoạch Trước</h3>
					<p>
						“Lập kế hoạch trước” là sắp đặt tang lễ và dịch vụ nghĩa trang trước. Dù quý vị chỉ muốn những ước muốn của quý vị được thực hiện hoặc muốn bảo vệ gia đình khỏi phải có những quyết định khó khăn trong thời gian có những mất mát, đặt kế hoạch trước cho những sắp đặt sau cùng là một trách nhiệm quan trọng và là một trong những món quà quý giá nhất mà quý vị có thể để lại cho người thân.
					</p>
				</div>
			</div>

			<div class="row" id="contact">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				</div>
				<div class="wrapper col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<div>
						<h3>Liên Lạc David Trung Văn Nguyễn</h3>
						<p>
							Dignity Memorial xin hân hạnh giới thiệu cùng quí đồng hương người tư vấn  viên của chúng tôi, cũng là người đại diện cho Nghĩa Trang Công Giáo, với nhiều năm kinh nghiệm, tận tâm và uy tín, đến để phục vụ cộng đồng Người Việt trong vùng DFW.
							<br><br>

							<span>Di Động: 832-490-7333<br>
							Số Miễn Phí: 1-855-442-3464<br>
							david.nguyen@sci-us.com<br>
							<a href="https://youtu.be/OrRjNOL6_FI">Xem Video</a></span>
						</p>
						<img src="david.png">
					</div>
				</div>
			</div>

			<div class="row" id="location">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<div class="wrapper addresses">
						<h3>nhà cung cấp ở dallas</h3>
						<table>
							<tr>
								<td>
									David Clayton & Sons <br>
									Funeral Home <br>
									200 W Center St. <br>
									Duncanville, TX 75116
								</td>
								<td>
									Gonzalez Funeral Home <br>
									& Crematory <br>
									1111 Military Pky. <br>
									Mesquite, TX 75149
								</td>
							</tr>
							<tr>
								<td>
									Gonzalez Funeral Home <br>
									& Crematory<br>
									3050 N Stemmons Fwy.<br>
									Dallas, TX 75247
								</td>
								<td>
									Laurel Land Funeral Home<br> 
									& Memorial Park <br>
									6000 S R.L.Thornton Fwy.<br>
									Dallas, TX 75232
								</td>
							</tr>
							<tr>
								<td>
									Little Bethel <br>
									Memorial Park<br>
									1803 Cedar Hill Rd.<br>
									Duncanville, TX 75137
								</td>
								<td>
									Metrocrest Funeral Home <br>
									& Hilltop Memorial Park<br>
									1810 N Perry Rd.<br>
									Carrollton, TX 75006
								</td>
							</tr>
							<tr>
								<td>
									Singing Hills Funeral Home<br>
									6221 University Hills Blvd. <br>
									Dallas, TX 75241
								</td>
							</tr>
						</table>
					</div>
					<div class="wrapper addresses">
						<h3>nhà cung cấp ở Fort Worth</h3>
						<table>
							<tr>
								<td>
									Bluebonnet Hills Funeral<br>
									Home & Memorial Park <br>
									5725 Colleyville Blvd. <br>
									Colleyville, TX 76034
								</td>
								<td>
									Guardian Funeral Home <br>
									5704 James Ave. <br>
									Fort Worth, TX 76134
								</td>
							</tr>
							<tr>
								<td>
									J.E. Foust & Son <br>
									Funeral Home <br>
									523 S Main St. <br>
									Grapevine, TX 76051
								</td>
								<td>
									Laurel Land Funeral Home <br>
									& Memorial Park<br>
									7100 Crowley Rd.<br>
									Fort Worth, TX 76134
								</td>
							</tr>
							<tr>
								<td> 
									Rolling Oaks Funeral Home <br>
									& Crematory <br>
									400 Freeport Pkwy. <br>
									Coppell, TX 75019
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

		<footer class="row">
			<p>
				&copy; Copyright 2016 Shared Resources, LLC All Rights Reserved. <span>|</span> www.DignityMemorial.com
			</p>
			<p id="subscript">
				The Dignity Memorial brand name is used to identify a network of licensed funeral, cremation and cemetary providers that compirse the Dignity Memorial network. The Dignity Memorial network includes affiliates of Service Corporation International, 1929 Allen Parkway, Houstan Texas as well as many other fine independetly owned and operated establishments.
				<br><br>
				www.prepaidfunerals.texas.gov
			</p>
		</footer>
	</center>

</body>
</html>